@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500&family=Montserrat+Alternates:wght@300;400&family=Neucha&display=swap');


body {
    text-align: center;
    background-color: #fcf9edde;
}


/*--------------------------------- Navbar*/

.nav-logo-container {
    position: absolute;
    left: 0;
    top: 0;
}

.nav-icon {
    width: 40%;
    margin-top: 0.5rem;
}

.nav-link {
color: #946006 !important;
font-family: "M PLUS Rounded 1C", sans-serif;
font-size: 1.2rem;
font-weight: bold;
}

.navbar-collapse {
    text-align: right;
    margin-top: 4rem;
}

.navbar-toggler {
    border: none;
}


/*--------------------------------Headings and text*/
h1, h2 {
    color: #428130;
    margin: 7rem 1rem 5rem;
    font-family: "M PLUS Rounded 1C", sans-serif;
    font-size: 2rem;
}

h2 {
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

p {
    color: #496840;
    font-size: 0.9rem;
}


/*------------------------------Landing page*/

.landing-overlay {
    height: 100vh;
    width: 100%;
    background-image: url("../images/family-hiking.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top:0;
    bottom: 0;
    z-index: 3;
}

.hide-overlay {
    display: none;
}

.landing-content-bg {
   margin: 20rem 0;
   display: inline-block;
}

.landing-content { 
   width: 14rem;
   height: 14rem;
   background-image: url("../images/leaf-bg.jpg");
   background-size: cover;
   border-radius: 50%;
   overflow: hidden;
   padding: 2.5rem;
   box-shadow: 0 2rem 3rem 0 rgba(0,0,0,0.2), 0 3rem 5rem 0 rgba(0,0,0,0.2);
}

.landing-header {
    margin: 0.5rem 0 2rem;
    color: #ebe154;
    font-style: italic;
    font-weight: normal;
}


/*-----------------------------Map page*/

#map-page {
    position: absolute;
    z-index: -1;
    width: 100%;
}

.map-container {
    margin: 6rem 2rem 2rem;
}

.description-container p {
    font-size: 0.8rem;
}


#map {
    width: 100%;
    height: 60vh;
    border: 2px solid #946006;
    box-shadow: 0 1rem 2rem 0 rgba(0,0,0,0.2), 0 2rem 4rem 0 rgba(0,0,0,0.2);
}

.info-window {
    padding: 2rem;
}

.icon-container {
    margin-top: 4rem;
}


/*--------------------- Contact modal */

/* Credit for code for styling modal: https://css-tricks.com/considerations-styling-modal/ and https://www.w3schools.com/howto/howto_css_modals.asp*/

.contact-modal {
    display: none;
    z-index: 4;
    max-height: 80%;
    max-width: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10%;
    border: 2px solid #946006;
    box-shadow: 0 1rem 2rem 0 rgba(0,0,0,0.2), 0 2rem 4rem 0 rgba(0,0,0,0.2);
    background-color: #fcf9edde;
}

.modal-content {
   width: 80%;
   margin: 20% auto;
   background-color: #fcf9edde;
   border: none;

}

.close-btn {
    float: right;
   }

.modal-overlay {
    display: none;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #b3aeaee3;
   }


/*-----------------------------Info pages*/


.info-images {
    max-width: 100%;
    height: auto;
}

/*-----------------------------Media queries*/

@media (min-width: 576px) {
   /* .info-images {
        height: 16rem;
        margin: 0;
    }*/
}

@media screen and (min-width: 768px) {
    .info-images {
        padding: 1rem 0.5rem;
    } 
}

@media screen and (min-width: 992px) {

.landing-content {
    width: 16rem;
    height: 16rem;
    padding: 3.5rem;
}   

.landing-header {
    margin: 1rem 0;
}
.navbar-collapse {
    margin-top: 0;
}
}


@media screen and (min-width: 1200px) {

#map {
    width: 70%;
    margin: 0 auto;
}    
}

